In [2]:
%load_ext sql

In [3]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
DWH_ENDPOINT           = config.get("CLUSTER","HOST")
DWH_DB                 = config.get("CLUSTER","DB_NAME")
DWH_DB_USER            = config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD        = config.get("CLUSTER","DB_PASSWORD")
DWH_PORT               = config.get("CLUSTER","DB_PORT")

In [4]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT, DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh

In [5]:
%sql SELECT COUNT(1) FROM staging_events;

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [6]:
%sql SELECT COUNT(1) FROM staging_songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [ ]:
%sql SELECT

In [7]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(2637, 1541157631796, 80, 'free', None, None, 165, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (2777, 1541157850796, 80, 'free', None, None, 165, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (2822, 1541158064796, 88, 'free', None, None, 87, 'Sacramento--Roseville--Arden-Arcade, CA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (2779, 1541158225796, 80, 'free', None, None, 165, 'Portland-South Portland, ME', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"'),
 (2839, 1541164749796, 100, 'free', None, None, 174, 'New York-Newark-Jersey City, NY-NJ-PA', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"')]

In [8]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(4, 'Alivia', 'Terrell', 'F', 'free'),
 (7, 'Adelyn', 'Jordan', 'F', 'free'),
 (10, 'Sylvie', 'Cruz', 'F', 'free'),
 (16, 'Rylan', 'George', 'M', 'paid'),
 (18, 'Jacob', 'Rogers', 'M', 'free')]

In [10]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOAACTC12AB0186A20', 'Christmas Is Coming Soon', 'ARXWFZ21187FB43A0B', 180, Decimal('2008.00')),
 ('SOAAVQK12A6D4F76E0', 'Ik Laat Je Vrij', 'ARCULXA1269FCD4F8D', 239, Decimal('1979.00')),
 ('SOABCEU12A8C132027', 'Cold Waste', 'ARL6NP61187B98C1FC', 385, Decimal('2007.00')),
 ('SOABIXP12A8C135F75', 'Witness', 'AR15DJQ1187FB5910C', 218, Decimal('0.00')),
 ('SOABNPC12A8C13A9CC', 'Apr√®s Le Show', 'ARFM1EQ1187FB533ED', 223, Decimal('2005.00'))]

In [11]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR00B1I1187FB433EB', 'Eagle-Eye Cherry', 'Stockholm, Sweden', None, None),
 ('AR00LNI1187FB444A5', 'Bruce BecVar', '', None, None),
 ('AR016P51187B98E398', 'Indian Ropeman', '', None, None),
 ('AR035N21187FB3938E', 'BT', 'Earth', Decimal('34.232939'), Decimal('-102.410200')),
 ('AR03BDP1187FB5B324', 'Britney Spears feat. Pharrell Williams', 'Kentwood, LA; Los Angeles, CA', Decimal('34.053489'), Decimal('-118.245320'))]

In [12]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1541106673796, 21, 1, 44, 11, 2018, 4),
 (1541126568796, 2, 2, 44, 11, 2018, 5),
 (1541149952796, 9, 2, 44, 11, 2018, 5),
 (1541151611796, 9, 2, 44, 11, 2018, 5),
 (1541153484796, 10, 2, 44, 11, 2018, 5)]

In [7]:
%sql SELECT * FROM staging_songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('1', 'ARSVTNL1187B992A91', Decimal('51'), Decimal('0'), 'London, England', 'Jonathan King', 'SOEKAZG12AB018837E', "I'll Slap Your Face (Entertainment USA Theme)", Decimal('129'), 2001),
 ('1', 'ARZ5H0P1187B98A1DD', Decimal('33'), Decimal('-118'), 'Long Beach, CA', 'Snoop Dogg', 'SOAPERH12A58A787DC', 'The One And Only (Edited)', Decimal('230'), 0),
 ('1', 'AR5LMPY1187FB573FE', Decimal('41'), Decimal('-87'), 'Chicago, IL', 'Chaka Khan_ Rufus', 'SOABWAP12A8C13F82A', 'Take Time', Decimal('258'), 1978),
 ('1', 'ARV6GHH1187B9AED0D', Decimal('62'), Decimal('17'), 'SWEDEN', 'Sofia Talvik', 'SOBXHCE12AB018B6AC', 'Arms and Armour', Decimal('249'), 2008),
 ('1', 'ARD842G1187B997376', Decimal('43'), Decimal('-79'), 'Toronto, Ontario, Canada', 'Blue Rodeo', 'SOHUOAP12A8AE488E9', 'Floating', Decimal('491'), 1987)]

In [19]:
%%sql select d.query, substring(d.filename,14,20), 
d.line_number as line, 
substring(d.value,1,16) as value,
substring(le.err_reason,1,48) as err_reason
from stl_loaderror_detail d, stl_load_errors le
where d.query = le.query
and d.query = pg_last_copy_id();

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [5]:
%sql SELECT * FROM stl_load_errors ORDER BY starttime DESC LIMIT 10

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(100, 4, 101682, datetime.datetime(2021, 6, 2, 11, 45, 16, 112461), 14308, 339, 's3://udacity-dend/song-data/A/Y/F/TRAYFUW128F428F618.json                                                                                                                                                                                                       ', 1, 'artist_location                                                                                                                ', 'varchar   ', '256       ', 0, '{"song_id": "SORMAXQ12A8C139224", "num_songs": 1, "title": "Landmines", "artist_name": "St. Vincent", "artist_latitude": 19.40904, "year": 2007, "dur ... (744 characters truncated) ...                                                                                                                                                      ', '                                                                                                                                                      ... (726 characters truncated) ...                                                                                                                                                      ', 1204, 'String length exceeds DDL length                                                                    ')]