In [1]:
%load_ext sql

In [2]:
import configparser
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
DWH_ENDPOINT           = config.get("CLUSTER","HOST")
DWH_DB                 = config.get("CLUSTER","DB_NAME")
DWH_DB_USER            = config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD        = config.get("CLUSTER","DB_PASSWORD")
DWH_PORT               = config.get("CLUSTER","DB_PORT")

In [3]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT, DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh

In [4]:
%sql SELECT * FROM staging_songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('1', 'ARIG6O41187B988BDD', Decimal('37.167929'), Decimal('-95.845020'), 'United States', 'Richard Souther', 'SOUQQEA12A8C134B1B', 'High Tide', Decimal('228.59'), 0),
 ('1', 'AR6468X1187FB5AA0C', None, None, '', 'Micky Modelle', 'SOFXNXU12AB018A46E', 'Always On My Mind', Decimal('280.94'), 0),
 ('1', 'AR5WU281187FB49C5F', Decimal('18.115259'), Decimal('-77.273480'), 'Jamaica', 'Johnny Clarke', 'SOCQVUK12A8C1441B8', 'Enter Into His Gates With Praise', Decimal('170.39'), 1975),
 ('1', 'AR75G5G1187B9B6758', None, None, '', 'Frank Reyes', 'SORAKOH12A6D4FE512', 'Ya No Te Creo Nada', Decimal('286.74'), 0),
 ('1', 'ARYQHYX1187B98FE56', Decimal('34.289459'), Decimal('-118.717660'), 'Simi Valley, California', 'Pulley', 'SOQOUNX12A8C139D7F', 'Hooray For Me', Decimal('138.52'), 2001)]

In [5]:
%sql SELECT COUNT(1) FROM staging_events;

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [6]:
%sql SELECT COUNT(1) FROM staging_events WHERE page = 'NextSong';

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(6820,)]

In [7]:
%sql SELECT COUNT(1) FROM staging_songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [8]:
%sql SELECT COUNT(1) FROM songplays

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(6820,)]

In [9]:
%sql SELECT COUNT(1) FROM songplays WHERE song_id IS NOT NULL

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(333,)]

In [10]:
%sql SELECT * FROM staging_events WHERE session_id=70 AND user_id=71

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
4 rows affected.

[('Scouting for Girls', 'Logged In', 'Ayleen', 'F', 1, 'Wise', Decimal('201.14'), 'free', 'Columbia, SC', 'PUT', 'NextSong', 1541085793796, 70, 'The Mountains Of Navaho', 200, 1541183943796, '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D201 Safari/9537.53"', 71),
 ('OutKast', 'Logged In', 'Ayleen', 'F', 3, 'Wise', Decimal('227.52'), 'free', 'Columbia, SC', 'PUT', 'NextSong', 1541085793796, 70, 'Ova Da Wudz', 200, 1541184339796, '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D201 Safari/9537.53"', 71),
 ('Alliance Ethnik', 'Logged In', 'Ayleen', 'F', 2, 'Wise', Decimal('195.94'), 'free', 'Columbia, SC', 'PUT', 'NextSong', 1541085793796, 70, 'SinceritÃ\x83Â© Et Jalousie', 200, 1541184144796, '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D201 Safari/9537.53"', 71),
 ('Radiohead', 'Logged In', 'Ayleen', 'F', 0, 'Wise', Decimal('130.82'), 'free', 'Columbia, SC', 'PUT', 'NextSong', 1541085793796, 70, 'Pop Is Dead', 200, 1541183813796, '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D201 Safari/9537.53"', 71)]

In [11]:
%sql SELECT songplays.*, artists.name, songs.title FROM songplays LEFT JOIN songs ON songplays.song_id = songs.id LEFT JOIN artists ON songplays.artist_id = artists.id WHERE session_id = 70 and user_id = 71

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
4 rows affected.

[(161, 1541183943796, 71, 'free', None, None, 70, 'Columbia, SC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D201 Safari/9537.53"', None, None),
 (183, 1541184144796, 71, 'free', None, None, 70, 'Columbia, SC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D201 Safari/9537.53"', None, None),
 (169, 1541184339796, 71, 'free', None, None, 70, 'Columbia, SC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D201 Safari/9537.53"', None, None),
 (144, 1541183813796, 71, 'free', 'SOBBZPM12AB017DF4B', 'ARH6W4X1187B99274F', 70, 'Columbia, SC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_1 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D201 Safari/9537.53"', 'Radiohead', 'Pop Is Dead')]

In [12]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free')]

In [13]:
%sql SELECT COUNT(1) FROM users;

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(96,)]

In [14]:
%sql SELECT * FROM (SELECT id, COUNT(1) FROM users GROUP BY id) WHERE count > 1

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [15]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOAAAQN12AB01856D3', 'Campeones De La Vida', 'ARAMIDF1187FB3D8D4', 153, Decimal('0.00')),
 ('SOAAHZO12A67AE1265', 'Agni Sha Kshi', 'AR9DE5T1187FB48CA3', 229, Decimal('0.00')),
 ('SOAASSD12AB0181AA6', 'Song From Moulin Rouge', 'ARKXLIJ1187B9A4C54', 195, Decimal('0.00')),
 ('SOAAXEV12A6D4FA21C', 'Micro Chip', 'ARTRZBZ1187FB5698A', 230, Decimal('2006.00')),
 ('SOAAXYX12A8C133B77', 'Can I Get With You', 'AR4OH581187B9B7157', 242, Decimal('2000.00'))]

In [16]:
%sql SELECT COUNT(1) FROM songs;

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [17]:
%sql SELECT * FROM (SELECT id, COUNT(1) FROM songs GROUP BY id) WHERE count > 1

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [18]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('AR01WHF1187B9B53B8', 'Lullatone', 'Nagoya, Japan', None, None),
 ('AR026PU1187FB43FD9', 'The Vapors', None, None, None),
 ('AR02T3I1187FB4D0E5', 'Aberfeldy', 'Edinburgh, Scotland', None, None),
 ('AR04ZDS1187B98C504', 'Stuck In The Sound', None, None, None),
 ('AR05OJD1187B9B99A6', "Ol' Dirty Bastard", 'Brooklyn, New York', None, None)]

In [19]:
%sql SELECT COUNT(1) FROM artists;

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(9553,)]

In [20]:
%sql SELECT * FROM (SELECT id, COUNT(1) FROM artists GROUP BY id) WHERE count > 1

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [21]:
%sql SELECT artists.*, row_number() OVER (partition by id ORDER by location DESC) FROM artists WHERE id = 'AR1OGXT1187B9893EB'

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('AR1OGXT1187B9893EB', 'Lester Flatt & Earl Scruggs And The Stanley Brothers', 'Overton County, TN', Decimal('36.342529'), Decimal('-85.290139'), 1)]

In [22]:
%sql SELECT * FROM artists ORDER BY location LIMIT 10

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('AR5LZJD1187FB4C5E5', 'Britt Nicole', ' NC', Decimal('35.666930'), Decimal('-80.469350')),
 ('ARVJR1N1187FB4144A', 'Lamb Of God', ' Richmond, VA ', Decimal('37.540700'), Decimal('-77.433650')),
 ('AR6C8EJ1187FB3F473', 'Nelson Ned', ' Ubá, Minas Gerais', None, None),
 ('ARPPJJO1187B99D171', 'Michael Stearns', '100', Decimal('25.035119'), Decimal('121.515199')),
 ('ARV36QK1187FB52260', 'Charlie Hunter Trio', '104', None, None),
 ('ARYV92D1187B9B67E2', 'The Amity Affliction', '104', Decimal('25.066340'), Decimal('121.531890')),
 ('ARC0IOF1187FB3F6E6', 'Huey Lewis & The News', '108', None, None),
 ('AREUT471187FB47D1D', 'Newworldaquarium', '20', Decimal('19.484980'), Decimal('-99.181690')),
 ('ARBZIN01187FB362CC', 'Paris Hilton', '27', Decimal('1.320260'), Decimal('103.788709')),
 ('ARNCWVL1187FB5773A', 'Punchline', '57th til i die', Decimal('44.755530'), Decimal('5.368780'))]

In [23]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1541149456796, 9, 2, 44, 11, 2018, 5),
 (1541151743796, 9, 2, 44, 11, 2018, 5),
 (1541154085796, 10, 2, 44, 11, 2018, 5),
 (1541155108796, 10, 2, 44, 11, 2018, 5),
 (1541155991796, 10, 2, 44, 11, 2018, 5)]

In [24]:
%sql SELECT COUNT(1) FROM time;

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(6813,)]

In [25]:
%sql SELECT * FROM (SELECT start_time, COUNT(1) FROM time GROUP BY start_time) WHERE count > 1

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]

In [26]:
%sql SELECT user_id, level, count(1) FROM songplays GROUP BY user_id, level ORDER BY count DESC

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
104 rows affected.

[(49, 'paid', 650),
 (80, 'paid', 648),
 (97, 'paid', 557),
 (15, 'paid', 462),
 (44, 'paid', 397),
 (29, 'paid', 341),
 (24, 'paid', 321),
 (73, 'paid', 289),
 (36, 'paid', 241),
 (88, 'paid', 241),
 (95, 'paid', 213),
 (16, 'paid', 208),
 (30, 'paid', 178),
 (85, 'paid', 178),
 (25, 'paid', 169),
 (42, 'paid', 140),
 (58, 'paid', 140),
 (26, 'free', 114),
 (82, 'paid', 87),
 (72, 'paid', 72),
 (32, 'free', 56),
 (101, 'free', 55),
 (50, 'free', 48),
 (86, 'free', 45),
 (49, 'free', 39),
 (66, 'free', 37),
 (37, 'free', 34),
 (70, 'paid', 33),
 (69, 'free', 29),
 (88, 'free', 29),
 (10, 'free', 28),
 (92, 'free', 27),
 (54, 'free', 27),
 (83, 'free', 27),
 (8, 'free', 27),
 (67, 'free', 25),
 (61, 'free', 24),
 (6, 'free', 23),
 (14, 'free', 22),
 (63, 'free', 20),
 (53, 'free', 20),
 (33, 'free', 20),
 (100, 'free', 19),
 (75, 'free', 18),
 (60, 'free', 18),
 (80, 'free', 17),
 (65, 'paid', 17),
 (52, 'free', 17),
 (35, 'free', 16),
 (9, 'free', 16),
 (55, 'free', 15),
 (16, 'free', 15),
 (51, 'free', 15),
 (78, 'free', 14),
 (76, 'free', 14),
 (96, 'free', 13),
 (12, 'free', 12),
 (43, 'free', 11),
 (2, 'free', 10),
 (77, 'free', 10),
 (89, 'free', 10),
 (62, 'free', 10),
 (19, 'free', 9),
 (91, 'free', 9),
 (41, 'free', 9),
 (20, 'paid', 9),
 (34, 'free', 9),
 (74, 'free', 8),
 (57, 'free', 8),
 (36, 'free', 7),
 (28, 'free', 7),
 (40, 'free', 7),
 (17, 'free', 7),
 (94, 'free', 7),
 (84, 'free', 6),
 (81, 'free', 6),
 (71, 'free', 5),
 (29, 'free', 5),
 (13, 'free', 5),
 (7, 'free', 5),
 (18, 'free', 5),
 (4, 'free', 5),
 (23, 'free', 4),
 (98, 'free', 4),
 (5, 'free', 4),
 (99, 'free', 4),
 (47, 'free', 3),
 (48, 'free', 3),
 (68, 'free', 3),
 (3, 'free', 3),
 (38, 'free', 3),
 (90, 'free', 3),
 (56, 'free', 2),
 (79, 'free', 2),
 (59, 'free', 2),
 (39, 'free', 2),
 (27, 'free', 2),
 (11, 'free', 2),
 (22, 'free', 2),
 (64, 'free', 2),
 (15, 'free', 1),
 (85, 'free', 1),
 (87, 'free', 1),
 (45, 'free', 1)]

In [28]:
%sql SELECT level, count(1) FROM songplays GROUP BY level ORDER BY level DESC

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('paid', 5591), ('free', 1229)]

In [33]:
%sql SELECT users.first_name, users.last_name, count(1) FROM songplays JOIN users ON songplays.user_id = users.id GROUP BY users.first_name, users.last_name ORDER BY count DESC LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('Chloe', 'Cuevas', 689),
 ('Tegan', 'Levine', 665),
 ('Kate', 'Harrell', 557),
 ('Lily', 'Koch', 463),
 ('Aleena', 'Kirby', 397)]

In [37]:
%sql SELECT artists.name AS artist_name, count(1) FROM songplays JOIN artists ON songplays.artist_id = artists.id GROUP BY artist_name ORDER BY count DESC LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('Dwight Yoakam', 37),
 ('Kid Cudi', 10),
 ('Lonnie Gordon', 9),
 ('Ron Carter', 9),
 ('B.o.B', 8)]

In [42]:
%sql SELECT artists.name AS artist_name, songs.title, count(1) FROM songplays JOIN artists ON songplays.artist_id = artists.id JOIN songs ON songplays.song_id = songs.id GROUP BY artists.name, songs.title ORDER BY count DESC LIMIT 10

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('Dwight Yoakam', "You're The One", 37),
 ('Ron Carter', "I CAN'T GET STARTED", 9),
 ('Lonnie Gordon', 'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 9),
 ('B.o.B', "Nothin' On You [feat. Bruno Mars] (Album Version)", 8),
 ('Usher', "Hey Daddy (Daddy's Home)", 6),
 ('Kid Cudi', 'Make Her Say', 5),
 ('Kid Cudi', 'Up Up & Away', 5),
 ('matchbox twenty', 'Unwell (Album Version)', 4),
 ('Muse', 'Supermassive Black Hole (Album Version)', 4),
 ('Counting Crows', 'Mr. Jones', 4)]

In [48]:
%sql SELECT time.hour, count(1) FROM songplays JOIN time ON songplays.start_time = time.start_time GROUP BY time.hour ORDER BY count DESC LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(16, 542), (18, 498), (17, 494), (15, 477), (14, 432)]

In [5]:
%sql SELECT * FROM stl_load_errors ORDER BY starttime DESC LIMIT 10

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(100, 4, 101682, datetime.datetime(2021, 6, 2, 11, 45, 16, 112461), 14308, 339, 's3://udacity-dend/song-data/A/Y/F/TRAYFUW128F428F618.json                                                                                                                                                                                                       ', 1, 'artist_location                                                                                                                ', 'varchar   ', '256       ', 0, '{"song_id": "SORMAXQ12A8C139224", "num_songs": 1, "title": "Landmines", "artist_name": "St. Vincent", "artist_latitude": 19.40904, "year": 2007, "dur ... (744 characters truncated) ...                                                                                                                                                      ', '                                                                                                                                                      ... (726 characters truncated) ...                                                                                                                                                      ', 1204, 'String length exceeds DDL length                                                                    ')]