In [1]:
%load_ext sql

In [2]:
DWH_ENDPOINT           = 'dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com'
DWH_DB                 = 'dwh'
DWH_DB_USER            = 'dwhuser'
DWH_DB_PASSWORD        = 'Passw0rd'
DWH_PORT               = 5439

In [3]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT, DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh

In [9]:
%sql DROP TABLE staging_songs;

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.errors.UndefinedTable) Table "staging_songs" does not exist

[SQL: DROP TABLE staging_songs;]
(Background on this error at: http://sqlalche.me/e/14/f405)

In [ ]:
%sql DROP TABLE staging_events;

In [ ]:
%sql DROP TABLE songplays;

In [ ]:
%sql DROP TABLE artists;

In [ ]:
%sql DROP TABLE songs;

In [ ]:
%sql DROP TABLE time;

In [ ]:
%sql DROP TABLE users;

In [19]:
%sql SELECT COUNT(1) FROM staging_events;

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8056,)]

In [13]:
%sql SELECT COUNT(1) FROM staging_events WHERE page = 'NextSong';

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(6820,)]

In [20]:
%sql SELECT COUNT(1) FROM staging_songs;

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [21]:
%sql SELECT COUNT(1) FROM songplays

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(13640,)]

In [22]:
%sql SELECT COUNT(1) FROM users

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(208,)]

In [23]:
%sql SELECT COUNT(1) FROM time

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(20460,)]

In [24]:
%sql SELECT COUNT(1) FROM songs

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(29792,)]

In [25]:
%sql SELECT COUNT(1) FROM artists

 * postgresql://dwhuser:***@dwhcluster.c3dsakoo9rbr.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(20050,)]

In [ ]:
%sql SELECT COUNT(1) FROM songplays WHERE song_id IS NOT NULL

In [ ]:
%sql SELECT * FROM staging_events WHERE session_id=70 AND user_id=71

In [ ]:
%sql SELECT songplays.*, artists.name, songs.title FROM songplays LEFT JOIN songs ON songplays.song_id = songs.id LEFT JOIN artists ON songplays.artist_id = artists.id WHERE session_id = 70 and user_id = 71

In [ ]:
%sql SELECT * FROM users LIMIT 5;

In [ ]:
%sql SELECT COUNT(1) FROM users;

In [ ]:
%sql SELECT * FROM (SELECT id, COUNT(1) FROM users GROUP BY id) WHERE count > 1

In [ ]:
%sql SELECT * FROM songs LIMIT 5;

In [ ]:
%sql SELECT COUNT(1) FROM songs;

In [ ]:
%sql SELECT * FROM (SELECT id, COUNT(1) FROM songs GROUP BY id) WHERE count > 1

In [ ]:
%sql SELECT * FROM artists LIMIT 5;

In [ ]:
%sql SELECT COUNT(1) FROM artists;

In [ ]:
%sql SELECT * FROM (SELECT id, COUNT(1) FROM artists GROUP BY id) WHERE count > 1

In [ ]:
%sql SELECT artists.*, row_number() OVER (partition by id ORDER by location DESC) FROM artists WHERE id = 'AR1OGXT1187B9893EB'

In [ ]:
%sql SELECT * FROM artists ORDER BY location LIMIT 10

In [ ]:
%sql SELECT * FROM time LIMIT 5;

In [ ]:
%sql SELECT COUNT(1) FROM time;

In [ ]:
%sql SELECT * FROM (SELECT start_time, COUNT(1) FROM time GROUP BY start_time) WHERE count > 1

In [ ]:
%sql SELECT user_id, level, count(1) FROM songplays GROUP BY user_id, level ORDER BY count DESC

In [ ]:
%sql SELECT level, count(1) FROM songplays GROUP BY level ORDER BY level DESC

In [ ]:
%sql SELECT users.first_name, users.last_name, count(1) FROM songplays JOIN users ON songplays.user_id = users.id GROUP BY users.first_name, users.last_name ORDER BY count DESC LIMIT 5

In [ ]:
%sql SELECT artists.name AS artist_name, count(1) FROM songplays JOIN artists ON songplays.artist_id = artists.id GROUP BY artist_name ORDER BY count DESC LIMIT 5

In [ ]:
%sql SELECT artists.name AS artist_name, songs.title, count(1) FROM songplays JOIN artists ON songplays.artist_id = artists.id JOIN songs ON songplays.song_id = songs.id GROUP BY artists.name, songs.title ORDER BY count DESC LIMIT 10

In [ ]:
%sql SELECT time.hour, count(1) FROM songplays JOIN time ON songplays.start_time = time.start_time GROUP BY time.hour ORDER BY count DESC LIMIT 5

In [ ]:
%sql SELECT * FROM stl_load_errors ORDER BY starttime DESC LIMIT 10