In [ ]:
%load_ext sql

In [ ]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

In [ ]:
%sql SELECT * FROM songplays LIMIT 5;

In [ ]:
%sql SELECT * FROM users LIMIT 5;

In [ ]:
%sql SELECT * FROM songs;

In [ ]:
%sql SELECT * FROM artists;

In [ ]:
%sql SELECT * FROM time LIMIT 5;

In [ ]:
%sql SELECT * FROM songplays JOIN time ON songplays.start_time = time.start_time JOIN songs ON song_id = songs.id JOIN artists ON songplays.artist_id = artists.id WHERE song_id IS NOT NULL

In [ ]:
%sql SELECT * FROM artists WHERE id = 'AR5KOSW1187FB35FF4'

In [ ]:
%sql SELECT user_id, level, count(1) FROM songplays GROUP BY user_id, level ORDER BY count DESC

In [ ]:
%sql SELECT level, count(1) FROM songplays GROUP BY level ORDER BY level DESC

In [ ]:
%sql SELECT artist_id, artists.name, count(1) FROM songplays JOIN artists ON songplays.artist_id=artists.id WHERE songplays.user_id = 15 GROUP BY artist_id, artists.name ORDER BY count LIMIT 1

In [ ]:
%sql SELECT time.hour, count(1) FROM songplays JOIN time ON songplays.start_time = time.start_time GROUP BY time.hour ORDER BY count DESC LIMIT 5

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).